/* Base: contained within this file are all 
your resets, variables, mixins, and any utility classes. */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    height:97vh;
  }
  #chartdiv {
    width: 100%;
    height: 100%;
  }