/* Components: anything reusable such as buttons, navbars, cards etc. */

.round {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    &.big {
        background-color: red;
        width: 40px;
        height: 40px;
    }
    &.middle {
        background-color: orange;
        width: 30px;
        height: 30px;
    }
    &.little {
        background-color: yellow;
        width: 20px;
        height: 20px;
    }
}