.footer {
    color: #ffffff;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 0;
  
    & a {        
        color: #23CB91;
        text-decoration: none;
    }

    &__github {        
        color: #23CB91;
        font-size: 16px;
        &-name {
            margin-left: 10px;            
            color: #23CB91;

            &:first-child {
                margin-left: 0;
            }
        }
    }
  }
  .logo {
    height: 32px;
  
    width: 100px;
    overflow: hidden;
    &__pic {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }