@import url("https://fonts.googleapis.com/css?family=Roboto:300,500&display=swap");
* {
    box-sizing: border-box;
}

#results {
    overflow: hidden;
}

.list-module {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    font-family: "Roboto", sans-serif;
    margin: 0 0 50px;
    // padding-top: 50px;
}

input {
    font-family: "Roboto", sans-serif;
    border-radius: 3px;
    border: 1px solid #ddd;
    outline: none;
    padding: 15px;
    width: 480px;
}

.countries {
    padding: 10px;
    overflow: auto;
    height: 80%;
    list-style-type: none;
    width: 480px;
    transition: 0.5s;
}

.country-item {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    margin: 10px 0;
    transition: 0.5s;
    &:hover {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
        transition: 0.5s;
    }
    &__flag {
        width: 40px;
    }
    &__name {
        color: $color_primary;
        flex: 2;
        font-weight: normal;
        letter-spacing: 0.5px;
        margin: 0 5px;
        text-align: center;
    }
    &__info {
        border-left: 1px solid #aaa;
        color: #777;
        padding: 0 15px;
        flex: 1;
    }
    &__population {
        font-weight: 300;
        letter-spacing: 1px;
        margin: 0;
        margin-bottom: 12px;
    }
    &--text {
        font-weight: 300;
        letter-spacing: 1px;
        margin: 0;
        text-transform: uppercase;
    }
}